
**/node_modules/
*.log
*.log.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
**/# Archivos .env en cualquier carpeta (raíz, backend o frontend)
**/.env
**/.env.local
**/.env.*.local
**/.env.development
**/.env.production
**/*.pem
**/*.key
**/dist/
**/build/
**/.next/
**/.out/
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store
Thumbs.db
TP3MongoDB.pdf